@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
    --color-1: #0f1016;
    --text-color: #f0f0f0;
    --acent-color: #C90000;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    background: rgb(0,0,0);
background: linear-gradient(153deg, rgba(0,0,0,1) 50%, rgba(121,9,9,1) 95%, rgba(201,0,0,1) 100%);
}

html{
    font-size: 12pt;
    font-family: Poppins, Segoe UI, Tahoma, sans-serif;
}

nav{
    height: 60px;
    background-color: var(--color-1);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 10;
}

.links-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

nav a{
    height: 100%;
    padding: 0 20px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--text-color);
}

nav a:hover{
    background-color: var(--acent-color);
}

nav .home-link{
    margin-right: auto;
}

nav svg{
    fill: var(--text-color);
}

#logo-home{
    height:200px;
    width: 120px;
    object-fit: cover;
}

#sidebar-active{
    display: none;
}

.open-sidebar-button, .close-sidebar-button{
    display: none;
}

@media(max-width: 460px){
    .links-container{
        flex-direction: column;
        align-items: flex-start;

        position: fixed;
        top: 0;
        right: -100%;
        z-index: 10;
        width: 300px;

        background-color: var(--color-1);
        box-shadow: -5px 0 5px rgba(0, 0, 0, 0.25);
        transition: 0.75s ease-out;
    }

    nav a{
        box-sizing: border-box;
        height: auto;
        width: 100%;
        padding: 20px 30px;
        justify-content: flex-start;
    }

    .open-sidebar-button, .close-sidebar-button{
        padding: 20px;
        display: block;
    }

    #sidebar-active:checked ~ .links-container{
        right: 0;
    }

    #sidebar-active:checked ~ #overlay{
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9;
    }
}

.slider {
    overflow: hidden;
    width: 100vw;
    height: 400px;
    position: relative;
}

.slider::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(finitoPORSCHE1.jpg);
    background-size: cover;
    background-position: center;
    filter: blur(15px);
    z-index: 1; 
}

.slider .slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: contain; 
    background-position: center center;
    background-repeat: no-repeat;
    animation: slider 12.5s infinite;
    z-index: 2; 
}

.slider .slide:nth-child(1) {
    background-image: url(finitoPORSCHE1.jpg);
    animation-delay: 0s;
}

.slider .slide:nth-child(2) {
    background-image: url(finitoPORSCHE5.jpg);
    animation-delay: -2.5s;
}

.slider .slide:nth-child(3) {
    background-image: url(finitoPORSCHE3.jpg);
    animation-delay: -5s;
}

.slider .slide:nth-child(4) {
    background-image: url(finitoPORSCHE4.jpg);
    animation-delay: -7.5s;
}

.slider .slide:nth-child(5) {
    background-image: url(finitoPORSCHE2.jpg);
    animation-delay: -10s;
}

@keyframes slider {
    0%, 16%, 100% {
        transform: translateX(0);
        animation-timing-function: ease;
    }
    20% {
        transform: translateX(-100%);
        animation-timing-function: step-end;
    }
    96% {
        transform: translateX(100%);
        animation-timing-function: ease;
    }
}

@media (min-width: 321px) {
    .slider::before {
        background-image: var(--current-bg);
    }
}





.about-section,
.contact-section,
.services-section,
.header {
    padding: 20px;
    color: var(--text-color);
    display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
margin: 0 auto;
max-width: 800px;
}

.header{
    text-align: center;
}

.div-block{
        background-color: var(--acent-color);
        height: 4px;
        width: 20vw;
        margin-left: auto;
        margin-right: auto;
}

@media screen and (max-width: 479px) {
    .div-block {
        width: 40vw;
    }
}

.header img{
    object-fit: cover;
    object-position: center;
    width: 200px;
}

.text-span{
    color: var(--acent-color);
}

h2 {
    font-weight: 600;
    margin-bottom: 15px;
}

p {
    line-height: 1.6;
    margin-bottom: 10px;
}

ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding-left: 0;
    gap: 30px;
}

ul li {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 15px;
    color: #fff;
    text-align: center;
    background-color: var(--color-1);
}


.contact-section a {
    color: var(--acent-color);
    text-decoration: none;
}

.contact-section a:hover {
    text-decoration: underline;
}

footer {
    background-color: var(--color-1);
    color: var(--text-color);
    text-align: center;
    padding: 10px 0;
}

h3{
    color: var(--acent-color);
}

#instagram, #facebook{
    color: var(--acent-color);
    font-weight: 1000;
}

.card-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card{
    width: 325px;
    background-color: var(--color-1);
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card img{
    filter: invert(12%) sepia(85%) saturate(5269%) hue-rotate(358deg) brightness(88%) contrast(114%);
    width: 40%;
    height: auto;
}

.card-content{
    padding: 16px;
}

.card-content h2, p{
    color: var(--text-color);
}

.card-content h2{
    border-bottom: 1px solid var(--acent-color);
}

.services-section{
    padding-bottom: 0px;
}